.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .toolbar-right {
    display: flex;
    margin-right: 5%;
  }

  .toolbar-right h1 {
    cursor: pointer;
  }

  .profile-btn {
    text-decoration: none;
    color: white !important;
    font-size: large;
    margin-right: 10px;
  }

  .spacer {
    flex: 1;
  }

  .homeLink {
    color: rgb(66,158,157);
    font-weight: 600;
    font-size: 50px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    margin-left: 10px;
  }