<!-- Toolbar -->
<div class="toolbar" role="banner">
    <a *ngIf="showHomeLink" routerLink="/" class="homeLink">W</a>
    <span>
      <a routerLink="/search">
        <svg style="color: rgb(237, 237, 237)" xmlns="http://www.w3.org/2000/svg" width="86" height="36" fill="currentColor" class="bi bi-search" viewBox="0 0 6 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" fill="white"></path> </svg>
      </a>
    </span>
    <div class="spacer"></div>
    <div class="toolbar-right">
      <app-login class="profile-btn"></app-login>
      <div class="spacer"></div>
      <a *ngIf="showProfileButton" class="profile-btn" routerLink="/profile">Profile</a>
    </div>
</div>