<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="86" height="36" fill="currentColor" class="bi bi-search" viewBox="0 0 6 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" fill="white"></path> </svg>
  <span><input type="text" id="search" name="search" value="" placeholder="" /></span>
  <div class="spacer"></div>
    <div class="toolbar-right">
    <h1>Log in</h1>
    <h1>/</h1>
    <h1>Sign up</h1>
    </div>
</div>


<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    {{ title }}

  </div>



  <!-- <div class="movie-list"> -->
  <!-- <img class="left arrow" (click)="prevImage()" src="assets/left_arrow.png"> -->
  <div class="photo-list">
    <div class="arrow left">
    <img (click)="prevImage()" src="assets/left_arrow.png">
  </div>
    <img *ngFor="let image of images; let i = index" 
         [src]="image.src" 
         [ngClass]="{'big': i === currentIndex}"
         (click)="imageClicked(i)">
         <div class="arrow right">
    <img (click)="nextImage()" src="assets/right_arrow.png">
  </div>
  </div>
  <!-- <img class="right arrow" (click)="nextImage()" src="assets/right_arrow.png"> -->
<!-- </div>  -->

  <h2>Trending Now</h2>

  <div class="image-gallery">
    <div class="image" *ngFor="let catogory of catogories">
      <img [src]="catogory.src" [alt]="catogory.title" height="270">
      <h3>{{ catogory.title }}</h3>
    </div>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
