<div class="toolbar" role="banner">
  <a routerLink="/" class="homeLink">W</a>
  <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="86" height="36" fill="currentColor" class="bi bi-search" viewBox="0 0 6 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" fill="white"></path> </svg>
  <span><input type="text" id="search" name="search"  [(ngModel)]="searchTerm" placeholder="" (keyup)="onSearch()"></span>
    
  <div class="spacer"></div>
    <div class="toolbar-right">
      <h1>{{headerText}}</h1>
    </div>
    <div class="spacer"></div>
    <a *ngIf="showProfileButton" class="profile-btn" routerLink="/profile">Profile</a>
</div>


  <ul class="user-list" *ngIf="searchTerm.startsWith('@') && AllUsers.length > 0">
    <li class="user-list-item" *ngFor="let user of AllUsers | filter:searchTerm.slice(1)">
      <span (click)="goToProfile(user.email)">{{ user.username }}</span>
    </li>
  </ul>

  <div class="user-list-item" *ngIf="searchTerm.startsWith('@') && AllUsers.length === 0" class="no-results">
    <p>No results found</p>
  </div>

<div class="content" role="main">
  <div *ngIf="!searchTerm.startsWith('@')">
    <div *ngIf="filteredMovies$ | async as filteredMovies" class="image-gallery">
      <div class="image" *ngFor="let movie of filteredMovies">
        <a [routerLink]="['/discussion', {imgPath: movie.imgPath, name: movie.name}]">
        <!-- <div [ngStyle]="{'background-image':'url('+movie.imgPath+')'}" height="300" width="200"></div> -->
        <img [src]="movie.imgPath" [alt]="movie.name" height="300" width="200">
      </a>
        <h3 class="movie-title">{{ movie.name }}</h3>
      </div>
    </div>
  </div>
</div>
