  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: rgb(18,18,18);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }




  .user-list {
    position: fixed;
    top: 80px;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: rgb(237, 237, 237);
    list-style-type: none;
    background-color: rgb(18, 18, 18);
    left: 0;
  }

  .user-list-item:hover {
    background-color: rgb(18, 18, 18);
    cursor: pointer;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgb(18, 18, 18);
    color: rgb(237, 237, 237);
    font-weight: 600;
  }

  .toolbar-right {
    display: flex;
    margin-right: 15%;
  }

  .toolbar-right h1 {
    cursor: pointer;
    font-size: 40px;
  }

  input#search {
    width:155px;
    margin:0px 0px 0px 0px;
    height:32px;
    border-radius:20px;
    border:1px solid rgb(237, 237, 237);
  }

  a,
  a:visited,
  a:hover {
    color: rgb(237, 237, 237);
    text-decoration: none;
  }

  a.homeLink {
    color: #3c75df;
    font-weight: 600;
    font-size: 50px;
    padding-left: 60px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }

  a.profile-btn {
    padding-right: 25px;
  }

  .content {
    display: flex;
    margin-top: 80px;
    margin-left: -10px;
    margin-right: -8px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    background-color:rgb(18, 18, 18);
    position:absolute;
    margin-bottom: -10px;
  }

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .image {
    /* width: 385px; */
    /* height: 560px; */
    /* max-width: 190px; */
    margin: 40px;
    text-align: center;
  }

  .profile-btn {
    text-decoration: none;
    color: rgb(237, 237, 237);
    font-size: large;
    margin-right: 10px;
  }

  .movie-title {
    max-width: 200px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .image img:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 18px rgb(237, 237, 237);
    cursor: pointer;
  }


  h2 {
    font-size: 40px;
    color: rgb(237, 237, 237);
  }

  .image h3 {
    font-size: 20px;
    color: rgb(237, 237, 237);
  }

  img.profile {
    width: 60px;
    height: 50px;
    cursor: pointer;
    padding-right: 15px;
  }