
   :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
    color: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 140px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }

  .toolbar-right {
    display: flex;
    margin-right: 5%;
  }

  .content {
    display:flex;
    margin-top: 120px;
    margin-left: -10px;
    margin-right: -8px;
    /* margin-bottom: 10px; */
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background-color: #000000;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 76px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #000000;
    color: rgb(66,158,157);
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
    font-size: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .poster {
    max-width: 1200px;
    margin: 0 auto;
  }

  .poster img {
    max-width: 100%;
    height: auto;
  }

  input#search {
    width:155px;
    margin:0px 0px 0px 0px;
    height:32px;
    border-radius:20px;
    border:1px solid #DBDBDB;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


  h2 {
    font-size: 40px;
    color: rgb(198, 63, 19);
  }

  .image h3 {
    font-size: 30px;
    color: rgb(222, 152, 135);
  }

  .title {
    display: flex;
    padding-top: 20px;
  }

  .title app-star-rating {
    padding-top: 12px;
    padding-left: 20px;
  }

  button {
    border: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .tab {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: black;
    color: burlywood;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;

  }

  h1 {
    color: burlywood
  }

  h3 {
    color: burlywood
  }

  .active {
    font-size: 30px;
    color: rgb(198, 63, 19);
  }

  .container {
    border-top: 2px solid rgb(198, 63, 19);
  }

  textarea {
    color: yellow;
    font-size: 18px;
  }

  .comment {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }

  .comment-left {
    flex: 1;
    text-align: left;
  }

  .comment-right {
    flex: 1;
    text-align: right;
  }

  form {
    background-color: #0a0a0a;
    border: 1px solid rgb(232, 15, 15);
    padding: 20 px;
    margin-bottom: 20px;
  }
  

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
