<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
 
<meta name="apple-mobile-web-app-capable" content="yes">

<meta name="apple-mobile-web-app-status-bar-style" content="black">

<meta name="format-detection" content="telephone=no">

<style>
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <toolbar  [showProfileButton]="(auth.isAuthenticated$ | async)==true" [showHomeLink]="true"></toolbar>
  <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="86" height="36" fill="currentColor" class="bi bi-search" viewBox="0 0 6 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" fill="white"></path> </svg>
  <span><input type="text" id="search" name="search" value="" placeholder="" /></span>
  <div class="spacer"></div>
  <div class="card highlight-card card-small">
    {{ title }}
  </div>
  <div class="spacer"></div>
    <div class="toolbar-right">
      <app-login></app-login>
    <!-- <h1>Log in</h1>
    <h1>/</h1>
    <h1>Sign up</h1> -->
    </div>
</div>


<div *ngIf="movie$ | async as movie" class="content" role="main">
    <div class="poster">
      <img [src]="movie.imgPath" alt="Poster" />
        <div class="title">
        <h2>{{movie.name}}</h2>
        <app-star-rating [rating]="movie.rating"></app-star-rating>
    </div>
    <span *ngIf="thisUser" [ngClass]="thisUser.favorites && thisUser.favorites.includes(movie.name) ? 'fav-button filledHeart' : 'fav-button'" (click)="addToFavorites(movie.name)">&#9829;</span>
    <h1>Release dates: {{movie.year}}</h1> 
    <h1>Runtime: {{movie.runTime}}</h1>  

    <button *ngIf="thisUser" id="want-to-watch-button" [ngClass]="this.thisUser.wantToWatch && thisUser.wantToWatch?.includes(movie.name) ? 'watch-button active' : 'watch-button'" (click)="addToWantToWatch(movie.name)">
      {{this.thisUser.wantToWatch && thisUser.wantToWatch?.includes(movie.name) ? 'Remove from Want to Watch' : 'Add to Want to Watch'}}
    </button>

    <div class="tabs">
        <button class="tab" [ngClass]="{'active': selectedTab === 'summary'}" (click)="selectTab('summary')">Summary</button>
        <button class="tab" [ngClass]="{'active': selectedTab === 'new'}" (click)="selectTab('new')">New</button>
        <button class="tab" [ngClass]="{'active': selectedTab === 'hot'}" (click)="selectTab('hot')">Hot</button>
        <button class="tab" [ngClass]="{'active': selectedTab === 'createNew'}" (click)="selectTab('createNew')">Create New</button>
      </div>
      
      <div class="container">
        <ng-container *ngIf="selectedTab === 'summary'">
          <p>
            {{movie.summary}}
        </p>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'new'">
          <div class="comment" *ngFor="let comment of sortByDate()">
            <div class="comment-left">{{ comment.topic }}: {{ comment.content}}</div>  
            <div class="comment-right">{{ getFriendlyDate(comment.date) }}     |     {{ comment.author }}</div>
            <div class="likes">
              <button class="likeButton" (click)="likeComment(comment)">Like</button>
                {{ comment.likes }}
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'hot'">
            <div class="comment" *ngFor="let comment of sortByLikes()">
                <div class="comment-left">{{ comment.topic }}: {{ comment.content}}</div>  
                <div class="comment-right">{{ getFriendlyDate(comment.date) }}     |     {{ comment.author }}</div>
                <div class="likes">
                  <button class="likeButton" (click)="likeComment(comment)">Like</button>
                    {{ comment.likes }}
                </div>    
            </div>
        </ng-container>
        <ng-container *ngIf="selectedTab === 'createNew'">
          <h2>Add a comment</h2>
          <form (ngSubmit)="addComment(topic.value, comment.value)">
            <label for="topic">Topic:</label>
            <input type="text" id="topic" name="topic" #topic required>
            <label for="comment">Comment:</label>
            <textarea id="comment" name="comment" #comment required></textarea>
            <button type="submit">Submit</button>
          </form>
        </ng-container>
      </div>
      
          
  </div>

<router-outlet></router-outlet>
