<toolbar [showProfileButton]="false"></toolbar>
<div class="wrapper">
<!-- Toolbar -->
  <h1 class="header">{{user.username}}</h1>
  <div class="spacer">
<div *ngIf="!showList">
  <h3>
    <span (click)="showFollowers()">Followers: {{ followersList.length}}</span>
    <span (click)="showPosts()"class="spacer-line">Posts: {{comments.length}}</span>
    <span (click)="showFollowing()">Following: {{ user.followingList ? user.followingList.length : 0 }}</span>
  </h3>
  <div *ngIf="!isMyProfile && loggedInUser.email!=user.email" class="container-btn">
    <button class="follow-btn" (click)="followUser()" [ngClass]="{'following': isFollowing}">
      <span>{{loggedInUser.followingList && loggedInUser.followingList.indexOf(user.email)==-1 ? 'Follow' : 'Unfollow'}}</span>
    </button>
  </div>
  <div *ngIf="user.favorites && user.favorites.length > 0"class="top-five-list">
    <h2>My Favorites</h2>
    <ul *ngFor="let favoriteMovie of user.favorites">
        <li>
          <a class='movieLink' [routerLink]="['/discussion', {name: favoriteMovie}]">{{favoriteMovie}}</a>
        </li>
    </ul>
  </div>
  <div *ngIf="user.wantToWatch && user.wantToWatch.length > 0"class="top-five-list">
    <h2>Want to Watch</h2>
    <ul *ngFor="let WantToWatchMovie of user.wantToWatch">
        <li>
          <a class='movieLink' [routerLink]="['/discussion', {name: WantToWatchMovie}]">{{WantToWatchMovie}}</a>
        </li>
    </ul>
  </div>
  <table>
    <tr>
        <th class="table-title">My Reviews</th>
    </tr>
    <tr>
      <th>Topic</th>
      <th>Content</th> 
      <th>Likes</th>
      <th>Date</th>
    </tr>
    <!-- <tr *ngFor="let comment of user.comments">
      <td>{{comment.topic}}</td>
      <td>{{comment.content}}}</td>
      <td>{{comment.likes}}}</td>
      <td>{{comment.date}}}</td>
    </tr> -->
  </table>
</div>
</div>

<div *ngIf="showList">
  <button (click)="showList=false">Back</button>
  <h1>{{listTitle}}</h1>
  <ul>
    <li *ngFor="let item of profileItems">{{item}}</li>
  </ul>
</div>
