<div class="toolbar" role="banner">
    <a routerLink="/" class="homeLink">W</a>
    <svg style="color: white" xmlns="http://www.w3.org/2000/svg" width="86" height="36" fill="currentColor" class="bi bi-search" viewBox="0 0 6 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" fill="white"></path> </svg>
    <span><input type="text" id="search" name="search" value="" placeholder="" /></span>
    <div class="spacer"></div>
    <a routerLink="/" class="logoutlink">Log Out</a>
</div>
<div class="wrapper">
<!-- Toolbar -->
  <h1 class="header">{{userName}}</h1>
  <div class="spacer"></div>
  <h2>Followers: {{userData.followers}} Posts: {{userData.posts}} Following: {{userData.following}}</h2>
</div>

