.wrapper {
    background-color: rgb(47, 0, 0);
    color: bisque;
    width: 100%;
    height: 100%;
    position:fixed;
    top: 0;
    left: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 100px;
}
.spacer {
    flex: 1;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding-right: 20px;
    padding-left: 20px;
  }

  .homeLink {
    color: rgb(66,158,157);
    font-weight: 600;
    font-size: 50px;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  }

  a {
    font-size: 20px;
    color: bisque;
    font-weight: 600;
    text-decoration: none;
  }

  h1, h3 {
    display: flex !important;
    justify-content: center !important;
  }

  table {
    width: 90%;
    background-color: bisque;
    color: rgb(138, 45, 45);
    margin: 50px auto;
    padding: 10px;
  }
  th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
  }

  .spacer-line {
    margin-left: 80px;
    margin-right: 80px;
  }

  .top-five-list {
    width: 90%;
    margin: auto;
  }

  ul {
    list-style-type: none !important;
    padding-left: 0px;
  }
