<toolbar [showProfileButton]="false"></toolbar>
<div class="wrapper">
<!-- Toolbar -->
  <h1 class="header">{{user.username}}</h1>
  <div class="spacer">
<div *ngIf="!showList">
  <h3>
    <span (click)="showFollowers()">Followers: {{user.followers.length}}</span>
    <span (click)="showPosts()"class="spacer-line">Posts: {{user.comments.length}}</span>
    <span (click)="showFollowing()">Following: {{user.following.length}}</span>
  </h3>
  <div class="container-btn">
    <button *ngIf="!isMyProfile" class="follow-btn" (click)="followUser()" [ngClass]="{'following': isFollowing}">
      <span>{{isFollowing ? 'Follow' : 'Unfollow'}}</span>
    </button>
  </div>
  <div *ngIf="favoriteMovies.length > 0"class="top-five-list">
    <h2>My Top Movies</h2>
    <ul *ngFor="let favoriteMovie of favoriteMovies">
        <li>
          <a class='movieLink' [routerLink]="['/discussion', {name: favoriteMovie}]">{{favoriteMovie}}</a>
        </li>
    </ul>
  </div>
  <table>
    <tr>
        <th class="table-title">My Reviews</th>
    </tr>
    <tr>
      <th>Topic</th>
      <th>Content</th> 
      <th>Likes</th>
      <th>Date</th>
    </tr>
    <!-- <tr *ngFor="let comment of user.comments">
      <td>{{comment.topic}}</td>
      <td>{{comment.content}}}</td>
      <td>{{comment.likes}}}</td>
      <td>{{comment.date}}}</td>
    </tr> -->
  </table>
</div>
</div>

<div *ngIf="showList">
  <button (click)="showList=false">Back</button>
  <h1>{{listTitle}}</h1>
  <ul>
    <li *ngFor="let item of profileItems">{{item}}</li>
  </ul>
</div>
