.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9997;
  
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 450px;
  width: 700px;
  transform: translate(-50%, -50%);
  z-index: 9998;
  background-color: rgb(21, 21, 21);
  border-radius: 20px;
  border: bisque 10px solid;
}

h1 {
  cursor: pointer;
}

h3 {
  color: bisque;
  cursor: pointer;
}

h3 :hover {
  cursor: pointer;
}


.title {
  font-size: 45px;
  color: bisque;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

.info {
  width: 600px;
  height: 300px;
  position: relative;
  left: 7%;
  border-top:  bisque 2px solid;
  
}

.issues {
  width: 600px;
  height: 100px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.issues-left {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  margin-right: 40px;
  background-color: black;
  text-align: center;
}


.issues-right {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  margin-left: 40px;
  background-color: black;
  text-align: center;
}

.info-input {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content:end;
  align-items: center; 
  height: 80px;
}

.info-input h2 {
  font-size: 30px;
  color: burlywood;
}

.info-input input {
  height: 40px;
  border-radius: 15px;
  border: 0;
  margin-left: 20px;
  width: 250px;
  margin-right: 80px;
  pointer-events: auto;
}
